html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 5rem;
	margin-bottom: 60px;
}

body > .container {
	padding: 10px 15px 0;
}

.mainContainer {
	margin-left: 20px;
}

h1 {
	color: blueviolet;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(11, 130, 241);
}

.new-style {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(11, 241, 23);
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

/* Top bar color*/
.top-nav-bar-overrides {
	background-color: #3f51b5 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	line-height: 40px; /* Vertically center the text there */
	color: rgb(8, 44, 245);
	font-weight: bolder;
	background-color: #0b29e962;
}

.footer > .container {
	padding-right: 2px;
	padding-left: 2px;
	margin-left: 15px;
}

code {
	font-size: 80%;
}
